@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body{
    height: 400px;
    width: 400px;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.wraper-header{
    font-size: 22px;
    font-weight: lighter;
    letter-spacing: 0.1em;
    background-color:#142850;
    color: #fff;
}

.wraper-header img{
    width: 70px;
    height: 65px;
}

.wraper-header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 3%;
}
.wraper-menu-list{
    background-color:#27496d;
    height: 40px;
}
.wraper-menu-list button{
    width: 50px;
    height: 50px;
    background-color: red;
}

.wraper-menu-list img{
    height: 20px;
    width: 23px;
}

.wraper-menu-list-icon{
    width: 50px;
    height: 80%;
    padding-top: 8px;
    padding-left: 13px;
    cursor: pointer;
}

.wraper-menu-list-icon:hover{
    background-color: #202040;
    transition: all ease 1s;
}

.wraper-main-pannel-first-div{
    display: flex;
    flex-direction: column;
}

.wraper-main-pannel-current-step{
    margin:20px 0 0 13px;
    width: 160px;
    height: 60px;
    border-radius: 5px;
    text-align: center;
    background-color: #dee3e2;
}

h3{
    margin: 7px;
}

.wraper-first-div-span{
    background-color: #00a8cc;
    font-size: 11px;
    padding: 2px 5px;
    cursor: pointer;
    border-radius: 30px;
}

.wraper-first-div-span:hover{
    color: #fff;
}

.wraper-main-pannel-proces-statistic{
    margin:10px 0 0 13px;
    height: 130px;
    width: 160px;
    border-radius: 5px;
    text-align: center;
}

.wraper-main-pannel-proces-statistic-div{
    background-color:#dee3e2 ;
    height: 50px;
    padding-top: 5px;
    border-radius: 5px 5px 0 0;
    border: 1px solid #dbdbdb;
}


.wraper-main-pannel-proces-statistic-user{
    height: 40px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #dbdbdb;
}

.wraper-main-pannel-proces-statistic-user p{
    margin-left: 10px;
}